/* A simple CSS reset */
body, h1, h2, h3, h4, h5, h6, p, ol, ul, li {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  //height: 100vh;
  position: relative;
}


main {
  min-height: 4000px;
}

#block-parallax {
  background: url('../images/main-background.jpg');
  height: 100%;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  right: 0;
  position: fixed;
  bottom: 0;
}
