@import 'variables';
@import 'flex';

@import '../fonts/icon-fonts/styles.css';
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Manrope:wght@200;400;700;900&family=Open+Sans&family=Roboto&family=Space+Grotesk:wght@300;400;600;700&display=swap');

/* A simple CSS reset */
body, h1, h2, h3, h4, h5, h6, p, ol, ul, li {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Manrope', sans-serif;
  color: $main_font_color;
}

body {
  line-height: 1.6;
  font-size: 18px;
  box-sizing: border-box;
  position: relative;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

a {
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
  color: $main_font_color;
}

.object-fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overflow-hidden {
  overflow: hidden;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: bolder;
}

.text-lighter {
  font-weight: lighter;
}

.margin_auto {
  margin: 0 auto;
}

.left-block {
  float: left;
  width: 50%;
}

.right-block {
  float: right;
  width: 50%;
}

.text-center {
  text-align: center;
}

.main-container {
  width: 1000px;
  margin: 0 auto;
  background-color: rgba(47, 40, 27, .28);
  padding: 0 200px  60px;
}

.section-header {
  font-size: $section-header-font-size;
  text-transform: uppercase;
  color: $second_font_color;
  line-height: 1.2;
  margin-bottom: 60px;
}


#parallax {
  background: url('../images/main-background.jpg');
  height: 100%;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  right: 0;
  position: fixed;
  bottom: 0;
  z-index: -1;
}

.section-mb {
  margin-bottom: 120px;
}

//----- HEADER -----------
header {
  padding: 50px 0 70px;
}

.my-photo {
  $width: 250px;
  width: $width;
  height: calc(#{$width} + #{$width} / 3);
}

.header-menu-items {
  list-style-type: none;
  counter-reset: item;
  padding-left: 0;
}

.header-menu-items > li {
  margin: 5px;
  font-weight: bolder;
  opacity: .5;
}

.header-menu-items > li:focus,
.header-menu-items > li:hover {
  opacity: 1;
}

.header-menu-items > li::before {
  content: counter(item, decimal-leading-zero);
  counter-increment: item;
  width: 20px;
  display: inline-block;
  text-align: right;
  margin-right: 5px;
  font-weight: bolder;
}

//----- ABOUT --------

.about-text-header {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.section-header-count {
  font-weight: 200;
  margin-left: 40px;
  opacity: .5;
}

//------- SKILLS ------

.skill-items > li {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

.skills-text {
  padding-right: 10%;
}

.skill-items {
  padding-left: 8%;
}

//-------- EXPERIENCE --------
.job-title {
  width: 40%;
}

.job-title > p {
  margin-top: 5px;
}

.experience {
  margin-bottom: 50px;
}

.responsibilities-box {
  width: 50%;
}

.projects-list > li,
.work-period {
  font-weight: 200;
  font-style: italic;
}

.job-title .projects,
.job-title .company-name {
  margin-top: 15px;
}

.responsibility-list > li {
  line-height: 1.2;
  margin-top: 15px;
}

//-------- CONTACT  --------
.contact-box {
  overflow: hidden;
}

.social-links {
  width: 50%;
  text-align: left;
}

.social-links > li > a span{
  vertical-align: middle;
  margin-left: 15px;
}

.social-links > li {
  margin-bottom: 10px;
}

.social-links a {
  display: inline-block;
}

.social-links i[class^="icon-"]:before,
.social-links i[class*=" icon-"]:before {
  font-size: 28px;
}

//--------- FOOTER --------
.contacts > p,
.contacts > a {
  display: inline-block;
  margin: 0 20px;
}

.copyright {
  margin-top: 20px;
}

//------- MEDIA QUERY ------
@media (max-width: 1417px) {
  .main-container {
    width: auto;
    padding: 0 100px 60px;
  }
}

@media (max-width: 991.98px) {
  .left-block,
  .right-block {
    width: 100%;
    margin-bottom: 20px;
  }

  .main-container {
    padding: 0 50px 50px;
  }

  .social-links {
    width: 100%;
  }

  .job-title, .responsibilities-box {
    width: 100%;
  }

  .contacts > p, .contacts > a {
    margin: 0 8px;
  }

}

@media (max-width: 575.98px) {
  .main-container {
    padding: 0 16px 40px;
  }

  .section-header {
    font-size: 40px;
    font-weight: bold;
  }

  .my-photo {
    display: none;
  }

  .contacts {
    flex-direction: column;
  }

  .skill-items {
    padding-left: 0;
  }

  .skill-items > li{
    width: 48%;
  }

  .section-mb {
    margin-bottom: 40px;
  }

  .experience {
    flex-direction: column;
  }
}
